.input, .button {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
  }
  
  .button:focus {
    text-decoration: underline;
    border: solid 1px grey;
  }
  
  .card {
    max-width: 26rem;
    margin: 0 auto;
  }
  .card .title {
    margin-bottom: 2.25rem;
  }
  
  .space-between {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
  
  label.checkbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  
  .checkbox-text {
    margin-left: .5rem;
  }
  
  [type=checkbox]:focus + .checkbox-text {
    text-decoration: underline;
  }
  
  .notification.is-danger {
    background: crimson;
    margin-bottom: 1.5rem;
  }
  
  .msg-loading {
    color: royalblue;
  }
  
  .msg-success {
    color: forestgreen;
    display: inline-block;
    vertical-align: middle;
  }
  .msg-success:before {
    content: '\2714';
    font-size: 2em;
    margin-right: .25rem;
    margin-top: -.25rem;
    display: inline-block;
    vertical-align: middle;
  }
  